# Explore here

In [25]:
# Datos socio demogrÃ¡ficos y de recursos de salud a nivel de condado de EE. UU. (2018-2019)
# Se quiere descubrir si existe alguna relaciÃ³n entre los recursos sanitarios y los datos socio demogrÃ¡ficos.

import pandas as pd

# Cargar conjunto de datos
total_data = pd.read_csv("https://raw.githubusercontent.com/4GeeksAcademy/regularized-linear-regression-project-tutorial/main/demographic_health_data.csv")
total_data.head()

,fips,TOT_POP,0-9,0-9 y/o % of total pop,19-Oct,10-19 y/o % of total pop,20-29,20-29 y/o % of total pop,30-39,30-39 y/o % of total pop,...,COPD_number,diabetes_prevalence,diabetes_Lower 95% CI,diabetes_Upper 95% CI,diabetes_number,CKD_prevalence,CKD_Lower 95% CI,CKD_Upper 95% CI,CKD_number,Urban_rural_code
0,1001,55601,6787,12.206615,7637,13.735364,6878,12.370281,7089,12.749771,...,3644,12.9,11.9,13.8,5462,3.1,2.9,3.3,1326,3
1,1003,218022,24757,11.355276,26913,12.344167,23579,10.814964,25213,11.564429,...,14692,12.0,11.0,13.1,20520,3.2,3.0,3.5,5479,4
2,1005,24881,2732,10.980266,2960,11.896628,3268,13.134520,3201,12.865239,...,2373,19.7,18.6,20.6,3870,4.5,4.2,4.8,887,6
3,1007,22400,2456,10.964286,2596,11.589286,3029,13.522321,3113,13.897321,...,1789,14.1,13.2,14.9,2511,3.3,3.1,3.6,595,2
4,1009,57840,7095,12.266598,7570,13.087828,6742,11.656293,6884,11.901798,...,4661,13.5,12.6,14.5,6017,3.4,3.2,3.7,1507,2

In [26]:
# RealizaciÃ³n de EDA

# Dimensiones
total_data.shape

(3140, 108)

In [27]:
# InformaciÃ³n 
total_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3140 entries, 0 to 3139
Columns: 108 entries, fips to Urban_rural_code
dtypes: float64(61), int64(45), object(2)
memory usage: 2.6+ MB

In [28]:
# EliminaciÃ³n de duplicados
if total_data.duplicated().sum():
    total_data = total_data.drop_duplicates()
print(total_data.shape)
total_data.head()

# No hay duplicados

(3140, 108)

,fips,TOT_POP,0-9,0-9 y/o % of total pop,19-Oct,10-19 y/o % of total pop,20-29,20-29 y/o % of total pop,30-39,30-39 y/o % of total pop,...,COPD_number,diabetes_prevalence,diabetes_Lower 95% CI,diabetes_Upper 95% CI,diabetes_number,CKD_prevalence,CKD_Lower 95% CI,CKD_Upper 95% CI,CKD_number,Urban_rural_code
0,1001,55601,6787,12.206615,7637,13.735364,6878,12.370281,7089,12.749771,...,3644,12.9,11.9,13.8,5462,3.1,2.9,3.3,1326,3
1,1003,218022,24757,11.355276,26913,12.344167,23579,10.814964,25213,11.564429,...,14692,12.0,11.0,13.1,20520,3.2,3.0,3.5,5479,4
2,1005,24881,2732,10.980266,2960,11.896628,3268,13.134520,3201,12.865239,...,2373,19.7,18.6,20.6,3870,4.5,4.2,4.8,887,6
3,1007,22400,2456,10.964286,2596,11.589286,3029,13.522321,3113,13.897321,...,1789,14.1,13.2,14.9,2511,3.3,3.1,3.6,595,2
4,1009,57840,7095,12.266598,7570,13.087828,6742,11.656293,6884,11.901798,...,4661,13.5,12.6,14.5,6017,3.4,3.2,3.7,1507,2

In [30]:
#   EliminaciÃ³n de informaciÃ³n irrelevante -> columnas que redundan datos y otros datos que aumentan la complejidad del dataset
total_data.drop(["Percent of Population Aged 60+", "ICU Beds_x", "Unemployment_rate_2018","% NA/AI-alone","GQ_ESTIMATES_2018","Obesity_Lower 95% CI","Obesity_Upper 95% CI","anycondition_Upper 95% CI","anycondition_Lower 95% CI","Heart disease_Lower 95% CI","Heart disease_Upper 95% CI","COPD_Lower 95% CI","COPD_Upper 95% CI","diabetes_Lower 95% CI","diabetes_Upper 95% CI","CKD_Lower 95% CI","CKD_Upper 95% CI","Two or more races pop","% Two or more races","N_POP_CHG_2018","R_NATURAL_INC_2018","R_INTERNATIONAL_MIG_2018","R_DOMESTIC_MIG_2018","Less than a high school diploma 2014-18","High school diploma only 2014-18","Some college or associate's degree 2014-18","Bachelor's degree or higher 2014-18","Percent of adults with less than a high school diploma 2014-18","Percent of adults with a high school diploma only 2014-18","Percent of adults completing some college or associate's degree 2014-18","Percent of adults with a bachelor's degree or higher 2014-18","Urban_rural_code","county_pop2018_18 and older","Population Aged 60+"], axis = 1, inplace = True)
total_data.head()

,fips,TOT_POP,0-9,0-9 y/o % of total pop,19-Oct,10-19 y/o % of total pop,20-29,20-29 y/o % of total pop,30-39,30-39 y/o % of total pop,...,Obesity_number,Heart disease_prevalence,Heart disease_number,COPD_prevalence,COPD_number,diabetes_prevalence,diabetes_number,CKD_prevalence,CKD_number,Urban_rural_code
0,1001,55601,6787,12.206615,7637,13.735364,6878,12.370281,7089,12.749771,...,15193,7.9,3345,8.6,3644,12.9,5462,3.1,1326,3
1,1003,218022,24757,11.355276,26913,12.344167,23579,10.814964,25213,11.564429,...,50761,7.8,13414,8.6,14692,12.0,20520,3.2,5479,4
2,1005,24881,2732,10.980266,2960,11.896628,3268,13.134520,3201,12.865239,...,8013,11.0,2159,12.1,2373,19.7,3870,4.5,887,6
3,1007,22400,2456,10.964286,2596,11.589286,3029,13.522321,3113,13.897321,...,6894,8.6,1533,10.0,1789,14.1,2511,3.3,595,2
4,1009,57840,7095,12.266598,7570,13.087828,6742,11.656293,6884,11.901798,...,15112,9.2,4101,10.5,4661,13.5,6017,3.4,1507,2

In [ ]:
#   AnÃ¡lisis de valores faltantes -> no hay valores faltantes
total_data.isnull().sum().sort_values(ascending=False)

fips                                                                      0
Internal Medicine Primary Care (2019)                                     0
Total physician assistants (2019)                                         0
Total nurse practitioners (2019)                                          0
Active Patient Care General Surgeons per 100000 Population 2018 (AAMC)    0
                                                                         ..
% Hawaiian/PI-alone                                                       0
Hawaiian/Pacific Islander-alone pop                                       0
% Asian-alone                                                             0
Asian-alone pop                                                           0
Urban_rural_code                                                          0
Length: 91, dtype: int64

In [ ]:
# Dividir el conjunto en train y test
from sklearn.model_selection import train_test_split

X = total_data.drop(columns=["diabetes_number"])
y = total_data["diabetes_number"]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)